.ticker {

    header.top-bar {
        height: 80px;
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

        &>* {
            margin: 0;
            padding: 0;
        }

        .quote {
            font-size: .8rem;
            padding-inline-start: .5rem;
            padding-block-end: .3rem;
            align-self: flex-end;
        }

        .quick-actions {
            display: flex;
            gap: 1rem;
            align-items: center;
            white-space: nowrap;
            font-size: .8rem;
            margin-left: 2rem;
            flex: 1;

            &>:first-child {
                margin-left: auto;
            }

            input[type=text] {
                margin-bottom: 0;
                padding: 0 .2rem;
                --pico-line-height: 2rem;
                text-align: right;
            }

            input[type=range] {
                margin: 0;
                padding: 0;
                width: 150px;
            }
        }
    }

    .all-charts {
        margin-bottom: 0;

        .messages {
            margin-top: .4rem;
        }
    }

    .metainfo {
        margin-block: .2rem;
        display: flex;
        justify-content: end;

        p {
            margin-block: 0;
            font-size: .8rem;
            color: var(--pico-secondary);
        }
    }

    .grid {
        @media screen and (max-width: 1600px) {
            &>* {
                grid-column: 1 / -1;
            }
        }
    }
}