.left-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 280px;
    padding-top: 1rem;
    height: 100vh;

    p {
        margin-block-end: .4rem;
    }

    h6 {
        margin-bottom: .4rem;
    }

    hr {
        margin-bottom: .2rem;
    }

    .main-nav {
        margin-bottom: .2rem;

        a {
            padding-block: .2rem;
            text-decoration: none;

            &.active {
                color: var(--pico-color);
                text-decoration: underline;
            }
        }
    }

    .tickers {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 6px;

        li {
            padding-block: .2rem;
            font-size: .9rem;
        }

        a {
            padding-inline: 1rem;
            color: var(--pico-color);
            border: 1px solid transparent;
            border-radius: var(--pico-border-radius);
            font-weight: var(--pico-font-weight-bold);
            transition: all 0.2s ease-in-out;
            background-position: center right;

            &.active {
                text-decoration: underline;
                background: var(--pico-icon-valid) no-repeat right 30px center;


            }

            &.bullish {
                color: green;
            }

            &.bearish {
                color: red;
            }

            &.imminent {
                font-weight: bold;
            }

            &:hover {
                text-decoration: none;
                background-color: var(--pico-secondary-focus);
                color: var(--pico-primary-inverse);
            }
        }
    }

    .bottom-form {
        margin-top: .6rem;
        padding-right: .2rem;
        --pico-form-element-spacing-vertical: 0.3rem
    }

    .context-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        border: 1px solid var(--pico-primary-inverse);
        padding: 0.2rem 2rem;
        background-color: var(--pico-primary-hover-background);
        border-radius: .2rem;
        box-shadow: var(--pico-group-box-shadow-focus-with-input);

        a {
            color: var(--pico-primary-inverse);
        }
    }
}